.container-form{
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

input{
	border-radius: 30px!important;
	border: 0px!important;
}

.btn-limpiar{
	background-color: white;
	color: #FF5B15;
	padding: 5px 30px;
	font-weight: bolder;
}

.btn-enviar{
	background-color: #FF5B15;
	color: white;
	padding: 5px 30px;
	font-weight: bolder;
}

@media (min-width: 576px){
	.modal-dialog {
		max-width: 900px!important;
		margin: 1.75rem auto;
	}
}

.modal-content{
	background-color: #F5F5F5;
	border-radius: 25px;
}
