
{% extends "web/base.html" %}
{% load static %}
{% block estilos %}
	<link rel="stylesheet" href="{% static 'css/registro.css' %}">
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
	<link rel="stylesheet" href="{% static 'css/insumos.css' %}">
	<link rel="stylesheet" href="{% static 'css/usuario.css' %}">
{% endblock estilos %}

{% block header %}
	<div class="container h-100">
		<div class="row align-items-center div-header" style="height: 75%">
			<div class="col-12 text-center">
				<h1 class="header-title">Registro de <br> Insumos </h1>
			</div>
		</div>
	</div>
{% endblock header %}

{% block contenido %}
	<div class="py-5">
		<div class="container p-5">
			<div class="row text-center row-form">
				<div class="col-12" style="background:#F5F5F5;border-radius:50px;padding: 30px 75px 75px 75px;">
					<h2 class="registrate-title" style="font-size:55px;font-weight: bolder;">Administra Insumos</h2>
					<hr>
					<div class="container-form mt-4 pb-4">
						<form id="formInsumos" method="POST" action="{% url 'UPDATEI' %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-12">
									<input name="name" type="text" value="{{item.name}}" class="form-control" id="inputNombre" aria-describedby="nombreHelp" placeholder="Nombre">
								</div>
								<div class="col-6 mt-3">
									<input name="price" type="number" value="{{item.price}}" class="form-control" id="inputPrecio" aria-describedby="precioHelp" placeholder="Precio">
								</div>
								<div class="col-6 mt-3">
									<input name="stock" type="number" value="{{item.stock}}" class="form-control" id="inputStock" aria-describedby="stockHelp" placeholder="Stock">
								</div>
								<div class="col-12 mt-3">
									<input name="description" type="text" value="{{item.description}}" class="form-control" id="inputDescripcion" aria-describedby="descripcionHelp" placeholder="Descripción">
								</div>
								<div class="col-6">
									<button type="submit" class="btn btn-enviar" onclick="return ValidarInsumos()">Actualizar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
            </form>
		</div>
	</div>
{% endblock contenido %}
{% block js %}
	<script src="{% static 'js/validarInsumos.js' %}"></script>
{% endblock js %}